<div class="section-body">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div id="center" class="main center mt-5">
        <table
          class="table table-hover table-bordered table-vcenter text-nowrap table-striped mb-0"
        >
          <thead class="thead-light">
            <tr>
              <th class="text-center">SN</th>
              <th class="text-center">Product Name</th>
              <th class="text-center">Features</th>
              <th class="text-center">Clients</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of productList; index as i">
              <td class="text-center">{{ i + 1 }}</td>
              <td class="text-center">{{ data?.name }}</td>
              <td class="text-center">
                {{ data?.features }}
              </td>
              <td class="text-center">{{ data?.clients }}</td>
            </tr>
            <!-- <tr>
              <td>

              </td>
            </tr> -->
          </tbody>
        </table>
        <!-- <p-tree [value]="data"></p-tree> -->
        <!-- <div class="card flex justify-content-center">
          <p-treeSelect
            class="md:w-20rem w-full"
            containerStyleClass="w-full"
            [(ngModel)]="selectedNodes"
            [options]="nodes"
            placeholder="Select Item"
          ></p-treeSelect>
        </div> -->
        <div class="container">
          <!-- <p-tree [value]="treeItems" (onNodeExpand) = "nodeExpand($event)" [loading] = "loading"> </p-tree> -->
          <mat-tree
            [dataSource]="dataSource"
            [treeControl]="treeControl"
            class="example-tree"
          >
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              {{ node.name }}
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
              <div class="mat-tree-node">
                <button
                  mat-icon-button
                  matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name"
                >
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{
                      treeControl.isExpanded(node)
                        ? "expand_more"
                        : "chevron_right"
                    }}
                  </mat-icon>
                </button>
                {{ node.name }}
              </div>

              <div
                [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                role="group"
              >
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>
        </div>
      </div>
    </div>
  </div>
</div>
